img {
  max-width: 50%;
  max-height: 100%;
  float: left;
  padding: 5px;
  margin: 10px;
}

p {
  text-align: left;
  padding-top: 10px;
  color: white;
}
h2 {
  color: white;
  text-align: center;
}
