img {
  max-width: 50%;
  max-height: 100%;
  float: left;
  padding: 5px;
  margin: 10px;
}

p {
  text-align: left;
  padding-top: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 2rem;
}
