.container {
  text-align: center;
  display: block;
  max-width: 50%;
  margin: auto;
  background-color: none;
  flex-wrap: wrap;
  padding: 40px 0px 100px 0px;
}

.row {
  height: 500px;
  padding: 100px;
  margin: 5px;
}

a.fill-div {
  height: 100%;
  width: 100%;
}

.image {
  width: 100%;
  height: 90%;
  padding: 50px;
  border: 4px solid white;
}

.image:hover {
  box-shadow: 0 0 5px 5px turquoise;
  filter: unset;
}

@media (max-width: 1200px) {
  .container {
    width: 75%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    max-width: 100%;
  }
}
